openapi: 3.0.0
info:
  title: Langdock API
  version: 3.0.0
servers:
  - url: https://api.langdock.com
    description: Production
security:
  - bearerAuth: []
paths:
  /openai/{region}/v1/chat/completions:
    post:
      tags:
        - Chat
      summary: Creates a model response for the given chat conversation.
      parameters:
        - name: region
          in: path
          required: true
          description: The region of the API to use.
          schema:
            type: string
            enum:
              - eu
              - us
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
            example:
              model: gpt-4o-mini
              messages:
                - role: system
                  content: You are a helpful agent.
                - role: user
                  content: Write a short poem about cats.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
              example:
                choices:
                  - message:
                      content: |-
                        In moonlit shadows soft they prowl,
                        With eyes aglow in night's dark cowl.
                      role: assistant
                    index: 0
                    finish_reason: stop
                    logprobs: null
                created: 1721722200
                id: chatcmpl-8o4sq3sSzGVqS0aQyjlXuuEGVZnSj
                model: gpt-4o-2024-05-13
                object: chat.completion
                system_fingerprint: fp_asd28019bf
                usage:
                  completion_tokens: 34
                  prompt_tokens: 14
                  total_tokens: 48
      security:
        - bearerAuth: []
  /openai/{region}/v1/embeddings:
    post:
      tags:
        - Embeddings
      summary: Creates embeddings for the given input text.
      parameters:
        - name: region
          in: path
          required: true
          description: The region of the API to use.
          schema:
            type: string
            enum:
              - eu
              - us
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
            example:
              model: text-embedding-ada-002
              input: The quick brown fox jumps over the lazy dog
              encoding_format: float
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbeddingResponse'
              example:
                data:
                  - embedding:
                      - 0.0023064255
                      - -0.009327292
                      - ...
                    index: 0
                    object: embedding
                model: text-embedding-ada-002
                object: list
                usage:
                  prompt_tokens: 9
                  total_tokens: 9
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    oneOf:
                      - example: No embedding models available for the ${region} region
                description: >-
                  Error message indicating either no models are available in the
                  region or the requested model is not available
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The provided API key is invalid.
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Rate limit for public API exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal Server Error
      security:
        - bearerAuth: []
  /anthropic/{region}/v1/messages:
    post:
      tags:
        - Messages
      summary: Create a Message
      description: >-
        Create a Message.


        Send a structured list of input messages with text and/or image content,
        and the model will generate the next message in the conversation.


        The Messages API can be used for either single queries or stateless
        multi-turn conversations.
      parameters:
        - name: region
          in: path
          required: true
          description: The region of the API to use.
          schema:
            type: string
            enum:
              - eu
              - us
      operationId: messages_post
      responses:
        '200':
          description: Message object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        4XX:
          description: >-
            Error response.


            See Anthropic's [errors
            documentation](https://platform.claude.com/docs/en/api/errors) for
            more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageParams'
        required: true
      security:
        - bearerAuth: []
  /mistral/{region}/v1/fim/completions:
    post:
      summary: Fim Completion
      description: FIM completion.
      parameters:
        - name: region
          in: path
          required: true
          description: The region of the API to use.
          schema:
            type: string
            enum:
              - eu
      operationId: fim_completion_v1_fim_completions_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FIMCompletionRequest'
            example:
              model: codestral-2501
              prompt: 'function removeSpecialCharactersWithRegex(str: string) {'
              max_tokens: 64
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FIMCompletionResponse'
              example:
                data: asd
                id: 245c52bc936f53ba90327800c73d1c3e
                object: chat.completion
                model: codestral
                usage:
                  prompt_tokens: 16
                  completion_tokens: 102
                  total_tokens: 118
                created: 1732902806
                choices:
                  - index: 0
                    message:
                      content: >2-

                          // Use a regular expression to match any non-alphanumeric character and replace it with an empty string
                          return str.replace(/[^a-zA-Z0-9]/g, '');
                        }


                        // Test the function

                        const inputString = "Hello, World! 123";

                        const outputString =
                        removeSpecialCharactersWithRegex(inputString);

                        console.log(outputString); // Output: "HelloWorld123"
                      prefix: false
                      role: assistant
                    finish_reason: stop
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CompletionEvent'
      tags:
        - fim
  /google/{region}/v1beta/models/{model}:generateContent:
    post:
      tags:
        - Google
      summary: Generate Content
      description: >-
        Generate content using Google Gemini models.

        This endpoint mirrors the structure of the official Vertex AI
        generateContent API while adding API-key based authentication and region
        selection.
      parameters:
        - name: region
          in: path
          required: true
          description: The region of the API to use.
          schema:
            type: string
            enum:
              - eu
              - us
        - name: model
          in: path
          required: true
          description: The model ID (e.g., gemini-2.5-pro, gemini-2.5-flash).
          schema:
            type: string
      operationId: google_generate_content_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contents:
                  type: array
                  description: The content to generate a response for.
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - model
                      parts:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
              required:
                - contents
            example:
              contents:
                - role: user
                  parts:
                    - text: Write a short haiku about the ocean.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidates:
                    type: array
                    items:
                      type: object
                      properties:
                        content:
                          type: object
                        finishReason:
                          type: string
                  usageMetadata:
                    type: object
        4XX:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /knowledge/search:
    post:
      summary: Search through all files in data folders shared with the API Key
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: The search query
                  example: API Documentation
      responses:
        '200':
          description: Successfully found search result
      security:
        - bearerAuth: []
  /knowledge/{folderId}:
    post:
      summary: Upload a file to a knowledge folder
      parameters:
        - name: folderId
          in: path
          required: true
          description: The ID of the knowledge folder
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload
                url:
                  type: string
                  description: The associated URL
      responses:
        '200':
          description: File uploaded successfully
      security:
        - bearerAuth: []
    patch:
      summary: Update a file in a knowledge folder
      parameters:
        - name: folderId
          in: path
          required: true
          description: The ID of the knowledge folder
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The new file to upload
                url:
                  type: string
                  description: >-
                    URL that is shown to the user if the file is used in an
                    answer
                attachmentId:
                  type: string
                  description: The ID of the attachment to update
      responses:
        '200':
          description: Attachment updated successfully
      security:
        - bearerAuth: []
  /knowledge/{folderId}/list:
    get:
      summary: Retrieve files from a knowledge folder
      parameters:
        - name: folderId
          in: path
          required: true
          description: The ID of the knowledge folder
          schema:
            type: string
      responses:
        '200':
          description: List of files retrieved successfully
      security:
        - bearerAuth: []
  /knowledge/{folderId}/{attachmentId}:
    delete:
      summary: Delete a file from a knowledge folder
      parameters:
        - name: folderId
          in: path
          required: true
          description: The ID of the knowledge folder
          schema:
            type: string
        - name: attachmentId
          in: path
          required: true
          description: The ID of the attachment to delete
          schema:
            type: string
      responses:
        '200':
          description: Attachment deleted successfully
      security:
        - bearerAuth: []
  /assistant/v1/chat/completions:
    post:
      deprecated: true
      tags:
        - Assistant
      summary: '[Deprecated] Creates a chat completion with an assistant'
      description: >-
        This endpoint is deprecated. Please use /agent/v1/chat/completions for
        new integrations.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            examples:
              streamingEnabled:
                summary: Request with streaming enabled
                value:
                  assistantId: asst_123
                  messages:
                    - role: user
                      content: Hello, how can you help me?
                  stream: true
              streamingDisabled:
                summary: Request with streaming disabled (default)
                value:
                  assistantId: asst_123
                  messages:
                    - role: user
                      content: Hello, how can you help me?
                  stream: false
              defaultBehavior:
                summary: Request without stream parameter (defaults to false)
                value:
                  assistantId: asst_123
                  messages:
                    - role: user
                      content: Hello, how can you help me?
            schema:
              type: object
              oneOf:
                - type: object
                  required:
                    - assistantId
                    - messages
                  properties:
                    assistantId:
                      type: string
                      description: ID of an existing agent to use
                    messages:
                      type: array
                      items:
                        type: object
                        required:
                          - role
                          - content
                        properties:
                          role:
                            type: string
                            enum:
                              - user
                              - assistant
                              - tool
                          content:
                            type: string
                          attachmentIds:
                            type: array
                            items:
                              type: string
                              format: uuid
                            description: >-
                              Array of UUID strings identifying attachments for
                              this message
                    stream:
                      type: boolean
                      default: false
                      description: >-
                        Enable or disable streaming responses. When true,
                        returns server-sent events. When false, returns complete
                        JSON response.
                      example: true
                    output:
                      $ref: '#/components/schemas/StructuredOutputConfig'
                    maxSteps:
                      type: integer
                      minimum: 1
                      maximum: 20
                      default: 10
                      description: >-
                        Maximum number of steps the agent can take during the
                        conversation
                - type: object
                  required:
                    - assistant
                    - messages
                  properties:
                    assistant:
                      $ref: '#/components/schemas/Assistant'
                    messages:
                      type: array
                      items:
                        type: object
                        required:
                          - role
                          - content
                        properties:
                          role:
                            type: string
                            enum:
                              - user
                              - assistant
                              - tool
                          content:
                            type: string
                          attachmentIds:
                            type: array
                            items:
                              type: string
                              format: uuid
                            description: >-
                              Array of UUID strings identifying attachments for
                              this message
                    stream:
                      type: boolean
                      default: false
                      description: >-
                        Enable or disable streaming responses. When true,
                        returns server-sent events. When false, returns complete
                        JSON response.
                      example: true
                    output:
                      $ref: '#/components/schemas/StructuredOutputConfig'
                    maxSteps:
                      type: integer
                      minimum: 1
                      maximum: 20
                      default: 10
                      description: >-
                        Maximum number of steps the agent can take during the
                        conversation
      responses:
        '200':
          description: Successful chat completion
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - role
                        - content
                      properties:
                        id:
                          type: string
                        role:
                          type: string
                          enum:
                            - tool
                            - assistant
                        content:
                          type: array
                          items:
                            type: object
                            required:
                              - type
                            properties:
                              type:
                                type: string
                              toolCallId:
                                type: string
                              toolName:
                                type: string
                              result:
                                type: object
                              args:
                                type: object
                              text:
                                type: string
                  output:
                    description: Present when output parameter was specified in the request
                    oneOf:
                      - type: object
                        description: When output.type is "object"
                      - type: array
                        description: When output.type is "array"
                      - type: string
                        description: >-
                          When output.type is "enum" (one of the provided enum
                          values)
            text/event-stream:
              schema:
                type: string
                description: Server-sent events stream when stream=true
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    oneOf:
                      - type: string
                      - type: array
                        items:
                          type: object
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /assistant/v1/create:
    post:
      deprecated: true
      operationId: createAgent
      summary: '[Deprecated] Creates a new assistant'
      description: >-
        This endpoint is deprecated. Please use /agent/v1/create for new
        integrations. Creates a new assistant in your workspace
        programmatically.
      tags:
        - Assistant Build
      requestBody:
        required: true
        content:
          application/json:
            examples:
              basicAgent:
                summary: Basic agent with minimal configuration
                value:
                  name: Document Analyzer
                  description: Analyzes and summarizes documents
                  emoji: 📄
                  instruction: You are a helpful agent that analyzes documents.
                  creativity: 0.5
              agentWithActions:
                summary: Agent with actions and capabilities
                value:
                  name: Email Agent
                  description: Helps manage and send emails
                  emoji: 📧
                  instruction: You are an email agent.
                  model: gpt-5-mini
                  creativity: 0.7
                  conversationStarters:
                    - Send an email to my team
                    - Draft a follow-up email
                  actions:
                    - actionId: action-uuid
                      requiresConfirmation: true
                  webSearch: true
              structuredInputAgent:
                summary: Agent with structured input fields
                value:
                  name: Invoice Analyzer
                  description: Analyzes invoices
                  emoji: 🧾
                  instruction: You are an invoice analysis agent.
                  inputType: STRUCTURED
                  inputFields:
                    - slug: customer_name
                      type: TEXT
                      label: Customer Name
                      description: Enter customer name
                      required: true
                      order: 0
                      options: []
                    - slug: invoice_date
                      type: DATE
                      label: Invoice Date
                      required: true
                      order: 1
                      options: []
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Name of the agent
                description:
                  type: string
                  maxLength: 256
                  description: Description of what the agent does
                emoji:
                  type: string
                  description: Emoji icon for the agent (e.g., "🤖")
                instruction:
                  type: string
                  maxLength: 16384
                  description: System prompt/instructions for the agent
                inputType:
                  type: string
                  enum:
                    - PROMPT
                    - STRUCTURED
                  default: PROMPT
                  description: Input type for the agent
                model:
                  type: string
                  description: Model ID to use (see Models for Agent API)
                creativity:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.3
                  description: Temperature for response generation
                conversationStarters:
                  type: array
                  items:
                    type: string
                  description: Array of suggested prompts to help users get started
                actions:
                  type: array
                  items:
                    type: object
                    required:
                      - actionId
                    properties:
                      actionId:
                        type: string
                        format: uuid
                        description: UUID of the action from an enabled integration
                      requiresConfirmation:
                        type: boolean
                        default: false
                        description: Whether to require user confirmation before executing
                  description: Array of action objects for custom integrations
                inputFields:
                  type: array
                  items:
                    type: object
                    required:
                      - slug
                      - type
                      - label
                      - order
                    properties:
                      slug:
                        type: string
                        description: Unique identifier for the field
                      type:
                        type: string
                        enum:
                          - TEXT
                          - MULTI_LINE_TEXT
                          - NUMBER
                          - CHECKBOX
                          - FILE
                          - SELECT
                          - DATE
                        description: Field type
                      label:
                        type: string
                        description: Display label for the field
                      description:
                        type: string
                        description: Help text for the field
                      required:
                        type: boolean
                        default: false
                        description: Whether the field is required
                      order:
                        type: integer
                        minimum: 0
                        description: Display order (0-indexed)
                      options:
                        type: array
                        items:
                          type: string
                        description: Options for SELECT type fields
                      fileTypes:
                        type: array
                        items:
                          type: string
                        description: Allowed file types for FILE type fields
                  description: Array of form field definitions (for STRUCTURED input type)
                attachments:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Array of attachment UUIDs to include with the agent
                webSearch:
                  type: boolean
                  default: false
                  description: Enable web search capability
                imageGeneration:
                  type: boolean
                  default: false
                  description: Enable image generation capability
                dataAnalyst:
                  type: boolean
                  default: false
                  deprecated: true
                  description: Deprecated. Accepted for compatibility and ignored.
                canvas:
                  type: boolean
                  default: false
                  description: Enable canvas capability
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                  - agent
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  message:
                    type: string
                    example: Assistant created successfully
                  assistant:
                    $ref: '#/components/schemas/AssistantDetails'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    oneOf:
                      - type: string
                      - type: array
                        items:
                          type: object
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '403':
          description: Insufficient permissions - requires AGENT_API scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Resource not found (model, action, or attachment)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /assistant/v1/update:
    patch:
      deprecated: true
      operationId: updateAgent
      summary: '[Deprecated] Updates an existing assistant'
      description: >-
        This endpoint is deprecated. Please use /agent/v1/update for new
        integrations. Updates an existing assistant in your workspace. Only
        provided fields will be updated.
      tags:
        - Assistant Build
      requestBody:
        required: true
        content:
          application/json:
            examples:
              updateBasicProperties:
                summary: Update name and description
                value:
                  assistantId: 550e8400-e29b-41d4-a716-446655440000
                  name: Advanced Document Analyzer
                  description: Analyzes documents with enhanced capabilities
                  creativity: 0.7
              enableCapabilities:
                summary: Enable web search
                value:
                  assistantId: 550e8400-e29b-41d4-a716-446655440000
                  webSearch: true
                  conversationStarters:
                    - Search the web for recent news
                    - Analyze this data
              updateActions:
                summary: Replace actions array
                value:
                  assistantId: 550e8400-e29b-41d4-a716-446655440000
                  actions:
                    - actionId: action-uuid-1
                      requiresConfirmation: true
                    - actionId: action-uuid-2
                      requiresConfirmation: false
              clearFields:
                summary: Clear optional fields with null
                value:
                  assistantId: 550e8400-e29b-41d4-a716-446655440000
                  description: null
                  emoji: null
            schema:
              type: object
              required:
                - assistantId
              properties:
                assistantId:
                  type: string
                  format: uuid
                  description: UUID of the agent to update
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Updated name
                description:
                  type: string
                  maxLength: 256
                  nullable: true
                  description: Updated description (null to clear)
                emoji:
                  type: string
                  nullable: true
                  description: Updated emoji icon (null to clear)
                instruction:
                  type: string
                  maxLength: 16384
                  nullable: true
                  description: Updated system prompt (null to clear)
                inputType:
                  type: string
                  enum:
                    - PROMPT
                    - STRUCTURED
                  description: Updated input type for the agent
                model:
                  type: string
                  description: Model ID to use (see Models for Agent API)
                creativity:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Updated temperature
                conversationStarters:
                  type: array
                  items:
                    type: string
                  description: Updated array of suggested prompts (replaces existing)
                actions:
                  type: array
                  items:
                    type: object
                    required:
                      - actionId
                    properties:
                      actionId:
                        type: string
                        format: uuid
                      requiresConfirmation:
                        type: boolean
                        default: false
                  description: Updated array of actions (replaces existing)
                inputFields:
                  type: array
                  items:
                    type: object
                    required:
                      - slug
                      - type
                      - label
                      - order
                    properties:
                      slug:
                        type: string
                      type:
                        type: string
                        enum:
                          - TEXT
                          - MULTI_LINE_TEXT
                          - NUMBER
                          - CHECKBOX
                          - FILE
                          - SELECT
                          - DATE
                      label:
                        type: string
                      description:
                        type: string
                      required:
                        type: boolean
                        default: false
                      order:
                        type: integer
                        minimum: 0
                      options:
                        type: array
                        items:
                          type: string
                      fileTypes:
                        type: array
                        items:
                          type: string
                  description: Updated array of form fields (replaces existing)
                attachments:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Updated array of attachment UUIDs (replaces existing)
                webSearch:
                  type: boolean
                  description: Updated web search capability setting
                imageGeneration:
                  type: boolean
                  description: Updated image generation capability setting
                dataAnalyst:
                  type: boolean
                  deprecated: true
                  description: Deprecated. Accepted for compatibility and ignored.
                canvas:
                  type: boolean
                  description: Updated canvas capability setting
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                  - agent
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  message:
                    type: string
                    example: Assistant updated successfully
                  assistant:
                    $ref: '#/components/schemas/AssistantDetails'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    oneOf:
                      - type: string
                      - type: array
                        items:
                          type: object
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '403':
          description: Insufficient permissions - no access to this agent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Agent not found or resource not found (model, action, attachment)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /assistant/v1/get:
    get:
      deprecated: true
      operationId: getAgent
      summary: '[Deprecated] Retrieves details of an existing assistant'
      description: >-
        This endpoint is deprecated. Please use /agent/v1/get for new
        integrations. Retrieves the complete configuration and details of an
        existing assistant.
      tags:
        - Assistant Build
      parameters:
        - name: assistantId
          in: query
          required: true
          description: UUID of the agent to retrieve
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agent details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - agent
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  assistant:
                    $ref: '#/components/schemas/AssistantDetails'
        '400':
          description: Invalid assistant ID format
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '403':
          description: Insufficient permissions - no access to this agent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /assistant/v1/models:
    get:
      deprecated: true
      tags:
        - Assistant
      summary: '[Deprecated] Lists the available models'
      description: >-
        This endpoint is deprecated. Please use /agent/v1/models for new
        integrations. Returns a list of models that are available for use with
        the API.
      parameters: []
      responses:
        '200':
          description: List of available models
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - object
                        - created
                        - owned_by
                      properties:
                        id:
                          type: string
                          description: The model identifier
                        object:
                          type: string
                          enum:
                            - model
                          description: The object type, which is always "model"
                        created:
                          type: integer
                          format: int64
                          description: >-
                            Unix timestamp (in milliseconds) of when the model
                            was created
                        owned_by:
                          type: string
                          enum:
                            - system
                          description: The organization that owns the model
              example:
                object: list
                data:
                  - id: gpt-5
                    object: model
                    created: 1686935735000
                    owned_by: system
                  - id: gpt-5-mini
                    object: model
                    created: 1686935735000
                    owned_by: system
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: object
                      description: Validation error details
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal Server Error
  /agent/v1/chat/completions:
    post:
      tags:
        - Agent
      summary: Creates a chat completion with an agent (Vercel AI SDK compatible)
      description: Creates a model response using Vercel AI SDK compatible UIMessage format
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            examples:
              streamingEnabled:
                summary: Request with streaming enabled
                value:
                  agentId: agent_123
                  messages:
                    - id: msg_1
                      role: user
                      parts:
                        - type: text
                          text: Hello, how can you help me?
                  stream: true
            schema:
              type: object
              oneOf:
                - type: object
                  required:
                    - agentId
                    - messages
                  properties:
                    agentId:
                      type: string
                      description: ID of an existing agent to use
                    messages:
                      type: array
                      description: Array of UIMessage objects (Vercel AI SDK format)
                      items:
                        type: object
                        required:
                          - id
                          - role
                          - parts
                        properties:
                          id:
                            type: string
                            description: Unique message identifier
                          role:
                            type: string
                            enum:
                              - user
                              - assistant
                              - system
                              - tool
                          parts:
                            type: array
                            items:
                              type: object
                              required:
                                - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - text
                                    - file
                                    - tool-invocation
                                    - tool-result
                                text:
                                  type: string
                                  description: Text content for text parts
                                url:
                                  type: string
                                  description: File URL for file parts
                                name:
                                  type: string
                                  description: File name
                                mimeType:
                                  type: string
                                  description: MIME type of the file
                                toolCallId:
                                  type: string
                                  description: Tool call identifier
                                toolName:
                                  type: string
                                  description: Name of the tool
                                args:
                                  type: object
                                  description: Tool arguments
                                result:
                                  type: object
                                  description: Tool result
                    stream:
                      type: boolean
                      default: false
                    output:
                      $ref: '#/components/schemas/StructuredOutputConfig'
                    imageResponseFormat:
                      type: string
                      enum:
                        - url
                        - b64_json
                      description: >-
                        Response format for images generated by the agent. "url"
                        returns a signed URL, "b64_json" returns base64-encoded
                        image data.
      responses:
        '200':
          description: Successful chat completion
          content:
            application/json:
              schema:
                type: object
                description: UIMessage response (Vercel AI SDK format)
                required:
                  - id
                  - role
                  - parts
                properties:
                  id:
                    type: string
                  role:
                    type: string
                    enum:
                      - assistant
                  parts:
                    type: array
                    items:
                      type: object
                  output:
                    description: Structured output if requested
        '400':
          description: Invalid request parameters
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /agent/v1/create:
    post:
      operationId: createAgentV2
      summary: Creates a new agent
      description: Creates a new agent in your workspace programmatically.
      tags:
        - Agent Build
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assistant'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  agent:
                    $ref: '#/components/schemas/Assistant'
  /agent/v1/update:
    patch:
      operationId: updateAgentV2
      summary: Updates an existing agent
      description: Updates an existing agent in your workspace.
      tags:
        - Agent Build
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - agentId
                  properties:
                    agentId:
                      type: string
                      format: uuid
                - $ref: '#/components/schemas/Assistant'
      responses:
        '200':
          description: Agent updated successfully
  /agent/v1/publish:
    post:
      operationId: publishAgentV2
      summary: Publishes a draft agent as a new version
      description: >-
        Publishes the current draft of an agent as a new version. Mirrors the
        "Update" button in the agent editor — only agents (not projects) are
        supported, and the draft must differ from the latest published version.
      tags:
        - Agent Build
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agentId
              properties:
                agentId:
                  type: string
                  format: uuid
                  description: UUID of the agent to publish
                description:
                  type: string
                  maxLength: 100
                  description: Optional change description shown in version history
      responses:
        '200':
          description: Agent published successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  version:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type: integer
                      createdAt:
                        type: string
                        format: date-time
        '403':
          description: >-
            API key lacks edit access, agent is in a different workspace, or the
            resource is a project
        '409':
          description: No draft changes to publish
  /agent/v1/get:
    get:
      operationId: getAgentV2
      summary: Retrieves details of an existing agent
      description: Retrieves the complete configuration and details of an existing agent.
      tags:
        - Agent Build
      parameters:
        - name: agentId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agent retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  agent:
                    $ref: '#/components/schemas/Assistant'
  /agent/v1/models:
    get:
      tags:
        - Agent
      summary: Lists the available models
      description: Returns a list of models that are available for use with the API.
      parameters: []
      responses:
        '200':
          description: List of available models
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                        created:
                          type: integer
                        owned_by:
                          type: string
  /attachment/v1/upload:
    post:
      operationId: uploadAttachment
      summary: Upload an attachment
      description: Upload a file that can be referenced in Agent conversations.
      tags:
        - Attachments
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload
      responses:
        '200':
          description: Successfully uploaded file
          content:
            application/json:
              schema:
                type: object
                required:
                  - attachmentId
                  - file
                properties:
                  attachmentId:
                    type: string
                    format: uuid
                    description: Unique identifier for the uploaded attachment
                  file:
                    type: object
                    required:
                      - name
                      - mimeType
                      - sizeInBytes
                    properties:
                      name:
                        type: string
                        description: Original filename
                      mimeType:
                        type: string
                        description: MIME type of the file
                      sizeInBytes:
                        type: integer
                        description: Size of the file in bytes
        '400':
          description: No file provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /attachment/v1/delete:
    delete:
      operationId: deleteAttachment
      summary: Delete an attachment
      description: >-
        Soft-deletes an attachment by ID. The attachment must be created by the
        API key's creator or belong to a Knowledge base shared with the API key.
      tags:
        - Attachments
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - attachmentId
              properties:
                attachmentId:
                  type: string
                  format: uuid
                  description: The ID of the attachment to delete
      responses:
        '200':
          description: Attachment deleted successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                  - attachmentId
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Attachment deleted successfully
                  attachmentId:
                    type: string
                    format: uuid
                    description: The ID of the deleted attachment
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items: {}
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: API key does not have access to this attachment
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Attachment not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /skills/v1:
    get:
      operationId: listSkills
      summary: List Skills
      description: Returns Skills in your workspace.
      tags:
        - Skills
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 50
          description: Number of Skills to return.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Cursor from the previous response for pagination.
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Search query for matching Skills.
        - name: slug
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
            pattern: ^[a-z0-9-]+$
          description: Filter by Skill slug.
      responses:
        '200':
          description: Skills returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSkillsResponse'
        '400':
          description: Invalid query parameter
        '401':
          description: Invalid or missing API key
        '403':
          description: Missing required scope or access
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    post:
      operationId: createSkill
      summary: Create a Skill
      description: Creates a Skill in your workspace.
      tags:
        - Skills
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSkillRequest'
      responses:
        '201':
          description: Skill created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillResponse'
        '400':
          description: Invalid request body
        '401':
          description: Invalid or missing API key
        '403':
          description: Missing required scope or create permission
        '409':
          description: Skill slug conflict
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /skills/v1/{skillId}:
    get:
      operationId: getSkill
      summary: Get a Skill
      description: Retrieves a Skill by ID from your workspace.
      tags:
        - Skills
      parameters:
        - $ref: '#/components/parameters/SkillId'
      responses:
        '200':
          description: Skill returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillResponse'
        '400':
          description: Invalid Skill ID
        '401':
          description: Invalid or missing API key
        '403':
          description: Missing required scope or access
        '404':
          description: Skill not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    patch:
      operationId: updateSkill
      summary: Update a Skill
      description: Updates an existing Skill in your workspace.
      tags:
        - Skills
      parameters:
        - $ref: '#/components/parameters/SkillId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSkillRequest'
      responses:
        '200':
          description: Skill updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillResponse'
        '400':
          description: Invalid request body
        '401':
          description: Invalid or missing API key
        '403':
          description: Missing required scope or editor access
        '404':
          description: Skill not found
        '409':
          description: Skill slug conflict
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
    delete:
      operationId: deleteSkill
      summary: Delete a Skill
      description: Permanently deletes a Skill from your workspace.
      tags:
        - Skills
      parameters:
        - $ref: '#/components/parameters/SkillId'
      responses:
        '200':
          description: Skill deleted successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: Invalid Skill ID
        '401':
          description: Invalid or missing API key
        '403':
          description: Missing required scope or owner access
        '404':
          description: Skill not found
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /skills/v1/import:
    post:
      operationId: importSkill
      summary: Import a Skill
      description: Creates or updates a Skill from a SKILL.md file or zip archive.
      tags:
        - Skills
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImportSkillRequest'
      responses:
        '200':
          description: Existing Skill updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportSkillResponse'
        '201':
          description: Skill created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportSkillResponse'
        '400':
          description: Invalid form data or zip archive
        '401':
          description: Invalid or missing API key
        '403':
          description: Missing required scope or Skill permission
        '409':
          description: Existing slug conflict or ambiguous upsert slug
        '413':
          description: Uploaded file is too large
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /export/assistants:
    post:
      tags:
        - Usage Export
      summary: Export assistant usage data
      description: Export detailed usage data for all assistants in the workspace
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageExportModelGroupByRequest'
            example:
              from:
                date: '2024-01-01T00:00:00.000Z'
                timezone: UTC
              to:
                date: '2024-01-31T23:59:59.999Z'
                timezone: UTC
      responses:
        '200':
          description: Export successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportResponse'
              example:
                success: true
                data:
                  filePath: >-
                    assistants-usage/workspace-id/assistants-usage-2024-01-01-2024-01-31-abc12345.csv
                  downloadUrl: https://storage.example.com/signed-url
                  dataType: assistants
                  recordCount: 1250
                  dateRange:
                    from: '2024-01-01T00:00:00.000Z'
                    to: '2024-01-31T23:59:59.999Z'
        '400':
          description: Bad Request - Export too large or invalid date range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
              example:
                error: Export too large
                message: >-
                  Export too large: 1500000 rows exceeds limit of 1000000.
                  Please narrow the date range.
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
              example:
                error: Unauthorized
                message: Invalid or missing API key
        '404':
          description: No data found for the selected period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
              example:
                error: No data found
                message: No usage data found for the selected period
  /export/users:
    post:
      tags:
        - Usage Export
      summary: Export user usage data
      description: >-
        Export detailed usage data for all users in the workspace (subject to
        privacy settings)
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageExportModelGroupByRequest'
      responses:
        '200':
          description: Export successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
        '404':
          description: No data found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
  /export/projects:
    post:
      tags:
        - Usage Export
      summary: Export project usage data
      description: Export detailed usage data for all projects in the workspace
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageExportRequest'
      responses:
        '200':
          description: Export successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
        '404':
          description: No data found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
  /export/models:
    post:
      tags:
        - Usage Export
      summary: Export model usage data
      description: Export detailed usage data for all AI models used in the workspace
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageExportModelsRequest'
      responses:
        '200':
          description: Export successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
        '404':
          description: No data found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
  /export/api-keys:
    post:
      tags:
        - Usage Export
      summary: Export API key usage data
      description: Export detailed usage and cost data grouped by API key
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageExportModelGroupByRequest'
            example:
              from:
                date: '2024-01-01T00:00:00.000Z'
                timezone: UTC
              to:
                date: '2024-01-31T23:59:59.999Z'
                timezone: UTC
              group_by: model
      responses:
        '200':
          description: Export successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
        '404':
          description: No data found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageExportError'
  /user-management/v1/invite:
    post:
      tags:
        - User Management
      summary: Invite users to workspace
      description: >
        Sends workspace invitations to one or more users by email. Each user can
        optionally

        be assigned a specific role. If no role is specified, the default role
        `member` is used.


        Users who are already members of the workspace are silently skipped.
        Users with pending

        join requests are automatically approved. Invalid email addresses are
        reported in the

        response but do not cause the entire request to fail.


        An invitation email is sent to each successfully invited user. If the
        workspace does not

        have SAML enabled, the email includes a magic link for passwordless
        sign-in.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUsersRequest'
            examples:
              single_user:
                summary: Invite a single user
                value:
                  users:
                    - email: jane.doe@example.com
              multiple_users_with_roles:
                summary: Invite multiple users with roles
                value:
                  users:
                    - email: alice@example.com
                      role: admin
                    - email: bob@example.com
                      role: member
                    - email: carol@example.com
      responses:
        '200':
          description: Invitations processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUsersResponse'
              examples:
                all_successful:
                  summary: All invitations sent
                  value:
                    status: success
                    message: Invitations processed
                    successfulInvites:
                      - alice@example.com
                      - bob@example.com
                    invalidEmails: []
                partial_success:
                  summary: Some emails were invalid
                  value:
                    status: success
                    message: Invitations processed
                    successfulInvites:
                      - alice@example.com
                    invalidEmails:
                      - not-a-valid-email
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUsersError'
              examples:
                missing_users:
                  summary: Missing or empty users array
                  value:
                    message: Invalid request body
                    errors:
                      - code: too_small
                        minimum: 1
                        type: array
                        inclusive: true
                        exact: false
                        message: Array must contain at least 1 element(s)
                        path:
                          - users
                invalid_role:
                  summary: Invalid role value
                  value:
                    message: Invalid request body
                    errors:
                      - code: invalid_enum_value
                        options:
                          - member
                          - editor
                          - admin
                        received: superadmin
                        message: >-
                          Invalid enum value. Expected 'member' | 'editor' |
                          'admin', received 'superadmin'
                        path:
                          - users
                          - 0
                          - role
        '401':
          description: >-
            Unauthorized - API key is missing, invalid, or the key creator was
            not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUsersError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUsersError'
  /user-management/v1/deactivate-user:
    post:
      tags:
        - User Management
      summary: Deactivate a workspace user
      description: >
        Removes a user from the workspace by email. The user immediately loses
        access,

        but all their data (conversations, assistants, files, integrations) is
        preserved

        and restored if they are re-added later.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEmailRequest'
            examples:
              deactivate_user:
                summary: Deactivate a user
                value:
                  email: user@example.com
      responses:
        '200':
          description: User deactivated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserManagementResponse'
              examples:
                success:
                  summary: User deactivated
                  value:
                    status: success
                    message: User deactivated
        '401':
          description: >-
            Unauthorized - API key is missing, invalid, or the key creator was
            not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserManagementError'
        '404':
          description: User not found or not an active member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserManagementError'
              examples:
                not_found:
                  summary: User not found
                  value:
                    message: User not found or not an active member
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserManagementError'
  /audit-logs/{workspace_id}:
    get:
      tags:
        - Audit Logs
      summary: List audit logs
      description: |
        Returns audit log entries for a workspace with cursor-based pagination.
        Requires an API key with the `AUDIT_LOG_API` scope.
      operationId: listAuditLogs
      security:
        - bearerAuth: []
      parameters:
        - name: workspace_id
          in: path
          required: true
          description: >
            Workspace UUID. Must match the workspace associated with the API
            key; requests with a mismatched workspace_id are rejected with 403.
          schema:
            type: string
            format: uuid
        - name: cursor
          in: query
          required: false
          description: Cursor for pagination (ID of last item from previous page)
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return (default 50, max 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 50
        - name: from
          in: query
          required: false
          description: Start of date range filter (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: End of date range filter (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: entity_type
          in: query
          required: false
          description: Filter by entity type (e.g. "User", "Workspace")
          schema:
            type: string
        - name: actor_id
          in: query
          required: false
          description: Filter by actor UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paginated list of audit log entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
              examples:
                example:
                  value:
                    data:
                      - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        created_at: '2026-02-09T14:30:00Z'
                        actor_id: u1234567-89ab-cdef-0123-456789abcdef
                        actor_type: USER
                        actor_name: jane.doe@example.com
                        action: user.updated
                        entity_type: User
                        entity_id: u7654321-89ab-cdef-0123-456789abcdef
                        ip_address: 203.0.113.42
                        user_agent: Mozilla/5.0
                        changes:
                          before:
                            role: MEMBER
                          after:
                            role: ADMIN
                        snapshot: null
                    next_cursor: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        '400':
          description: Invalid request parameters
        '401':
          description: Missing or invalid API key
        '403':
          description: >-
            Insufficient API key scopes or workspace_id does not match the API
            key's workspace
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
components:
  parameters:
    SkillId:
      name: skillId
      in: path
      required: true
      description: UUID of the Skill.
      schema:
        type: string
        format: uuid
  schemas:
    Skill:
      type: object
      required:
        - id
        - name
        - slug
        - description
        - instructions
        - integrationIds
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the Skill.
        name:
          type: string
          maxLength: 64
          description: Skill name.
        slug:
          type: string
          maxLength: 100
          pattern: ^[a-z0-9-]+$
          description: Stable Skill slug.
        description:
          type: string
          maxLength: 1024
          description: Description used to explain when the Skill should apply.
        instructions:
          type: string
          maxLength: 50000
          description: Skill instructions.
        integrationIds:
          type: array
          items:
            type: string
            format: uuid
          description: >-
            Integration IDs attached to the Skill. Each integration must be
            enabled in your workspace.
        createdAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp for Skill creation.
        updatedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp for the latest Skill update.
    SkillResponse:
      type: object
      required:
        - skill
      properties:
        skill:
          $ref: '#/components/schemas/Skill'
    ListSkillsResponse:
      type: object
      required:
        - skills
      properties:
        skills:
          type: array
          items:
            $ref: '#/components/schemas/Skill'
        nextCursor:
          type: string
          format: uuid
          description: Cursor for the next page, if more results are available.
    CreateSkillRequest:
      type: object
      required:
        - name
        - instructions
      additionalProperties: false
      properties:
        name:
          type: string
          maxLength: 64
          minLength: 1
          description: Skill name.
        slug:
          type: string
          maxLength: 100
          pattern: ^[a-z0-9-]+$
          description: Stable Skill slug.
        description:
          type: string
          maxLength: 1024
          description: Description used to explain when the Skill should apply.
        instructions:
          type: string
          maxLength: 50000
          minLength: 1
          description: Skill instructions.
        integrationIds:
          type: array
          items:
            type: string
            format: uuid
          description: Integration IDs to attach to the Skill.
    UpdateSkillRequest:
      type: object
      minProperties: 1
      additionalProperties: false
      properties:
        name:
          type: string
          maxLength: 64
          minLength: 1
          description: Skill name.
        slug:
          type: string
          maxLength: 100
          pattern: ^[a-z0-9-]+$
          description: Stable Skill slug.
        description:
          type: string
          maxLength: 1024
          description: Description used to explain when the Skill should apply.
        instructions:
          type: string
          maxLength: 50000
          minLength: 1
          description: Skill instructions.
        integrationIds:
          type: array
          items:
            type: string
            format: uuid
          description: >-
            Integration IDs to attach to the Skill. Replaces the current
            integration list.
    ImportSkillRequest:
      type: object
      required:
        - file
        - fileType
      properties:
        file:
          type: string
          format: binary
          description: SKILL.md, .zip, or .skill file content.
        fileType:
          type: string
          enum:
            - md
            - zip
          description: File parser to use.
        mode:
          type: string
          enum:
            - create
            - upsert
          default: create
          description: >-
            Whether to create a Skill or update an editable Skill with the same
            slug.
        integrationIds:
          type: string
          description: JSON-encoded array of integration UUIDs.
    ImportedSkillFile:
      type: object
      required:
        - path
        - sizeBytes
        - extension
        - hasScript
      properties:
        path:
          type: string
          description: File path inside the imported Skill.
        sizeBytes:
          type: integer
          description: File size in bytes.
        extension:
          type: string
          description: File extension.
        hasScript:
          type: boolean
          description: Whether the file is a script file.
    ImportSkillResponse:
      type: object
      required:
        - skill
        - files
      properties:
        skill:
          $ref: '#/components/schemas/Skill'
        files:
          type: array
          items:
            $ref: '#/components/schemas/ImportedSkillFile'
    AssistantDetails:
      type: object
      required:
        - id
        - name
        - emojiIcon
        - model
        - temperature
        - inputType
        - webSearchEnabled
        - imageGenerationEnabled
        - canvasEnabled
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the agent
        name:
          type: string
          description: Name of the agent
        description:
          type: string
          nullable: true
          description: Description of what the agent does
        instruction:
          type: string
          nullable: true
          description: System prompt/instructions for the agent
        emojiIcon:
          type: string
          nullable: true
          description: Emoji icon for the agent
        model:
          type: string
          description: Model ID to use (see Models for Agent API)
        temperature:
          type: number
          minimum: 0
          maximum: 1
          description: Temperature/creativity setting for response generation
        conversationStarters:
          type: array
          items:
            type: string
          description: Array of suggested prompts to help users get started
        inputType:
          type: string
          enum:
            - PROMPT
            - STRUCTURED
          description: Input type for the agent
        webSearchEnabled:
          type: boolean
          description: Whether web search capability is enabled
        imageGenerationEnabled:
          type: boolean
          description: Whether image generation capability is enabled
        canvasEnabled:
          type: boolean
          description: Whether canvas capability is enabled
        extendedThinking:
          type: boolean
          description: >-
            Whether extended thinking is enabled. Only supported on models that
            expose this capability; enabling it on an unsupported model returns
            a 400 error.
        actions:
          type: array
          items:
            type: object
            required:
              - actionId
              - requiresConfirmation
            properties:
              actionId:
                type: string
                format: uuid
                description: UUID of the action from an enabled integration
              requiresConfirmation:
                type: boolean
                description: Whether user confirmation is required before executing
          description: Array of action objects for custom integrations
        inputFields:
          type: array
          items:
            type: object
            required:
              - slug
              - type
              - label
              - required
              - order
            properties:
              slug:
                type: string
                description: Unique identifier for the field
              type:
                type: string
                enum:
                  - TEXT
                  - MULTI_LINE_TEXT
                  - NUMBER
                  - CHECKBOX
                  - FILE
                  - SELECT
                  - DATE
                description: Field type
              label:
                type: string
                description: Display label for the field
              description:
                type: string
                description: Help text for the field
              required:
                type: boolean
                description: Whether the field is required
              order:
                type: integer
                minimum: 0
                description: Display order (0-indexed)
              options:
                type: array
                items:
                  type: string
                description: Options for SELECT type fields
              fileTypes:
                type: array
                items:
                  type: string
                nullable: true
                description: Allowed file types for FILE type fields
          description: Array of form field definitions (for STRUCTURED input type)
        attachments:
          type: array
          items:
            type: string
            format: uuid
          description: Array of attachment UUIDs associated with the agent
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the agent was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the agent was last updated
    ChatCompletionRequestMessageContentPart:
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
        - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartImage'
      x-oaiExpandable: true
    ChatCompletionRequestMessageContentPartImage:
      type: object
      title: Image content part
      properties:
        type:
          type: string
          enum:
            - image_url
          description: The type of the content part.
        image_url:
          type: object
          properties:
            url:
              type: string
              description: Either a URL of the image or the base64 encoded image data.
              format: uri
            detail:
              type: string
              description: >-
                Specifies the detail level of the image. Learn more in the
                [Vision
                guide](https://platform.openai.com/docs/guides/vision/low-or-high-fidelity-image-understanding).
              enum:
                - auto
                - low
                - high
              default: auto
          required:
            - url
      required:
        - type
        - image_url
    ChatCompletionRequestMessageContentPartText:
      type: object
      title: Text content part
      properties:
        type:
          type: string
          enum:
            - text
          description: The type of the content part.
        text:
          type: string
          description: The text content.
      required:
        - type
        - text
    ChatCompletionRequestMessage:
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionRequestSystemMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestUserMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestAssistantMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestToolMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestFunctionMessage'
      x-oaiExpandable: true
    ChatCompletionRequestSystemMessage:
      type: object
      title: System message
      properties:
        content:
          description: The contents of the system message.
          type: string
        role:
          type: string
          enum:
            - system
          description: The role of the messages author, in this case `system`.
        name:
          type: string
          description: >-
            An optional name for the participant. Provides the model information
            to differentiate between participants of the same role.
      required:
        - content
        - role
    ChatCompletionRequestUserMessage:
      type: object
      title: User message
      properties:
        content:
          description: |
            The contents of the user message.
          oneOf:
            - type: string
              description: The text contents of the message.
              title: Text content
            - type: array
              description: >-
                An array of content parts with a defined type, each can be of
                type `text` or `image_url` when passing in images. You can pass
                multiple images by adding multiple `image_url` content parts.
                Image input is only supported when using the
                `gpt-4-visual-preview` model.
              title: Array of content parts
              items:
                $ref: '#/components/schemas/ChatCompletionRequestMessageContentPart'
              minItems: 1
          x-oaiExpandable: true
        role:
          type: string
          enum:
            - user
          description: The role of the messages author, in this case `user`.
        name:
          type: string
          description: >-
            An optional name for the participant. Provides the model information
            to differentiate between participants of the same role.
      required:
        - content
        - role
    ChatCompletionRequestAssistantMessage:
      type: object
      title: Assistant message
      properties:
        content:
          nullable: true
          type: string
          description: >
[...]
